// ==========================================================================
// Base Styles
// ==========================================================================

.callout {
  text-align: center;
  display: block;
  width: 100%;
}

header {
  background: $orange;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#content {
  padding-top: 114px;
}

.phones {
  position: absolute;
  right: -152px;
  width: 595px;
  top: 55px;

  @include mq($desktop-width, 'max-width') {
    display: none;
  }

}

.bubble {
  background: #333b3d;
  border-radius: 50%;
	width: 240px;
	height: 240px;
  position: absolute;
  left: -20px;
  top: 290px;
  padding: 45px;
  text-align: center;
  color: $teal;
  display: none;

  span {
    color: $yellow;
  }

  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 7px;
    bottom: 50px;
    border: 15px solid;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    border-color: $dark-grey transparent transparent $dark-grey;
  }
}

.hero-callout {

  margin-left: 15px;

  .hero-logo {
    margin-top: 92px;
    display: block;

    @include mq($mobile-landscape-width, 'max-width') {
      margin: 50px auto 0;
      width: 50%;
    }

  }

  .hero-text {
    h2 {
      margin: 10px 0 0 0;
      line-height: 1.2em;
      letter-spacing: 0.08em;
    }
    p {
      font-size: em(18);
    	color: $dark-grey;
      margin: 19px 0;
      letter-spacing: 0.06em;
      line-height: 1.4;
    }
  }

  .hero-input {
    margin-top: 85px;

    @include mq($mobile-landscape-width, 'max-width') {
      display: none;
    }

    .input-box input {
      float: left;
      width: 52%;
      display: inline-block;
      background: #d6d6d6;
      color: $dark-grey;
      height: 32px;
      margin-right: 10px;

      @include mq($desktop-width, $max) {
        width: 36%;
      }

    }
    .input-button {
      float: right;
      width: 45%;
      display: inline-block;
      background: $orange;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 15px;
      height: 32px;
      padding: 0;
    }
  }

}

.social {
  margin-left: 44px;
  .social-icon {
    margin-right: 3px;
    float: left;
    height: 26px;
    width: 26px;
    text-align: center;
    display: block;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 16px;
    transition: background-color 0.5s ease;

    a {
      margin-top: 4px;
      font-size: 12px;
      padding-left: 1px;

      i {
        display: block;
        width: 100%;
        color: white !important;


      }
    }

    &:hover {
      border: 3px solid $dark-grey;
    }
    &:hover a i {
      color: $dark-grey !important;
    }
  }

}

.ribbon {
  position: absolute;
  right: 0;
  top: 20px;

  @include mq($desktop-width, 'max-width') {
		display: none;
	}

}

.ribbon-title {
  background: $dark-grey;
  font-family: $font-family--primary;
  color: white;
  width: 200px;
  padding-left: 30px;
  text-transform: uppercase;
  border-radius: 10px 0 0 10px;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.ribbon-title:hover {
  background: $teal;
}

.cover {
  height: 1500px;
  float: left;
  width: 100%;
  padding: 70px 0;
  position: relative;
  overflow: hidden;

  @include mq($desktop-width, $max) {
    height: 1800px;
  }

  @include mq($tablet-width, $max) {
    height: 1800px;
  }

  @include mq($mobile-landscape-width, $max) {
    height: 2300px;
  }
}

.cover-where {
  height: 800px;
  float: left;
  width: 100%;
  padding: 70px 0;
  position: relative;
  overflow: hidden;

  @include mq($tablet-width, $max) {
    height: 900px;
  }

  @include mq($mobile-landscape-width, $max) {
    height: 1000px;
  }
}

.center {
  text-align: center;
}

.content-block {
  display: none;
  color: $dark-grey;
  margin-bottom: 50px;
  padding: 20px;
  position: relative;

  h2 {
    font-weight: 700;
  }

  p {
    font-weight: 700;
  }

  img {
    display: block;
    margin: auto;
  }
}

.why .left .content-block::after {
  content: url(img/left.png);
  position: absolute;
  right: -30px;
  top: 55px;

  @include mq($tablet-width, $max) {
    display: none;
  }
}

.right {
  margin-top: 200px;

  @include mq($tablet-width, $max) {
    display: none !important;
  }
}

.mobile {
  display: none;

  @include mq($tablet-width, $max) {
    display: block;
  }
}

.why .right .content-block::after {
  content: url(img/right.png);
  position: absolute;
  left: -30px;
  top: 55px;

  @include mq($tablet-width, $max) {
    display: none;
  }
}

.squiggle {
  position: absolute;
  left: 50%;
  margin-left: -37px;
  display: none;
}

.arrow {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: 100px;

  @include mq($tablet-width, $max) {
    display: none;
  }

  .point {
    position: absolute;
    height: 34px;
    width: 34px;
    text-align: center;
    display: block;
    border-radius: 50%;
    font-size: 23px;
    background-color: $teal;
    left: 50%;
    margin-left: -17px;
    font-weight: 700;
    color: white;
    transition: background-color 0.5s ease;
  }

  .point-1 {
    top: -1px;
  }

  .point-2 {
    top: 221px;
  }

  .point-3 {
    top: 480px;
  }

  .point-4 {
    top: 711px;
  }

  .active-point {
    background-color: $yellow;
  }
}

.cities {

  ul li {
    color: white;
    text-transform: uppercase;
    font-size: em(18);
    letter-spacing: 0.1em;
    line-height: 1.8em;
  }

  @include mq($tablet-width, $max) {
    text-align: center;
  }

}

.zigzag {
  position: absolute;
  left: 50%;
  margin-left: -62px;
  display: none;
}

.cities {
  display: none;
}

.contact {
  padding: 70px 0;

  p {
    color: $dark-grey;
  }
}

.contact-container {
  border: 7px solid $yellow;
  padding: 30px;
  border-radius: 7px;
}

.become .contact-container {
  background: #fa895d;
}


.frm_style_formidable-style.with_frm_style label.frm_primary_label {
  display: none !important;
}

.contact-container fieldset {
  border: 0;
  padding: 0;
}

.first_name input {
  width: 35%;
  margin-right: 5%;
  float: left;

  @include mq($mobile-landscape-width, $max) {
    width: 100%;
  }
}

.last_name input {
  width: 35%;
  float: left;
  @include mq($mobile-landscape-width, $max) {
    width: 100%;
  }
}

.email_address input {
  width: 75%;

  @include mq($mobile-landscape-width, $max) {
    width: 100%;
  }
}

.first_name input, .last_name input, .email_address input {
  background-color: $light-grey;
  color: $dark-grey;
  height: 32px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: em(12);
}

.thoughts textarea {
  background-color: $light-grey;
  color: $dark-grey;
  display: inline-block;
  text-transform: uppercase;
  font-size: em(12);
  margin-bottom: 20px;
}

.frm_submit input {
  display: inline-block;
  background: $orange;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  height: 32px;
  padding: 0;
  width: 200px;

  &:hover {
    background: $teal;
    transition: background-color 0.5s ease;
  }
}

.banner {
  width: 100%;
  position: relative;
  cursor: pointer;
  float: left;
  height: 130px;
}

.banner-partner {
  width: 50%;
  position: absolute;
  background-color: $orange;
  height: 130px;
  left: 0;
  transition: background-color 0.5s ease;
}

.banner-partner:hover {
  background-color: $teal;
}

.banner-driver {
  width: 50%;
  position: absolute;
  background-color: $light-orange;
  height: 130px;
  right: 0;
  color: $dark-grey;
  transition: background-color 0.5s ease;

  .banner-title {
    color: $dark-grey;
  }
}

.banner-driver:hover {
  background-color: $teal;
}

.banner-title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  display: block;
  margin: 45px auto 0px;
  font-size: 25px;
  letter-spacing: 0.1em;
  vertical-align: middle;

  @include mq($mobile-landscape-width, $max) {
    margin-top: 30px;
  }
}

.become p {
  color: $dark-grey;
}

.become .interested {
  font-size: em(24);
  font-weight: 700;
}

footer {
  background-color: $dark-grey;
  width: 100%;
}

.footer-title {
  color: white;
  text-transform: uppercase;
  margin: auto;
  display: block;
  font-size: 25px;
  letter-spacing: 0.1em;
  margin-top: 60px;
  text-align: center;

  @include mq($desktop-width, $max) {
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
  }
}

footer .social .social-icon:hover {
  border: 3px solid $yellow;
}

footer .social .social-icon:hover a i {
  color: $yellow !important;
}

footer .main-navigation li {
  float: right;
  margin-right: 10px;
}

footer .main-navigation ul {
  margin-top: 63px;
}

.footer-logo {
  margin: 30px auto 0;
  width: 120px;
}

.footer-mesh {
  float: right;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: $grey;
  text-align: center;

  a {
    color: $grey;
    text-decoration: underline;
  }
}

.hero-input fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.hero-input .frm_submit input {
  width: 125px;
}

.banner-column-partner, .banner-column-driver {
  display: table !important;
  height: 130px;
  margin: 0 !important;
}

.become-section {
  float: left;
  width: 100%;
  display: none;
  padding-top: 50px;
  height: 100%;
}

.logo {
  margin: 35px 0;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  float: left;
  width: 115px;
}

.active-menu {
  color: $dark-grey !important;
}

.mobile-navigation .active-menu {
  color: $teal !important;
}

.ball-why {
  width: 20px;
  height: 20px;
  background-color: $teal;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  bottom: 4px;
  display: none;
}

.ball-how {
  width: 20px;
  height: 20px;
  background-color: $teal;
  border-radius: 50%;
  position: absolute;
  left: 92px;
  bottom: 4px;
  display: none;
}

.ball-where {
  width: 20px;
  height: 20px;
  background-color: $teal;
  border-radius: 50%;
  position: absolute;
  left: 255px;
  bottom: 4px;
  display: none;
}

.ball-contact {
  width: 20px;
  height: 20px;
  background-color: $teal;
  border-radius: 50%;
  position: absolute;
  left: 475px;
  bottom: 4px;
  display: none;
}

.text-driver {
  display: none;
}
.text-partner {
  display: none;
}

.mobile-navigation-toggle {
  @include mq($desktop-width, 'min-width') {
    display: none;
  }

  cursor: pointer;
  float: right;
  color: white;
  font-size: 35px;
  margin: 35px 0;
}

.mobile-navigation {
  background: $dark-grey;
  display: block;
  width: 100%;
  height: 270px;
  position: fixed;
  z-index: 2;
  margin-top: 129px;
  display: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  ul {
    padding-top: 10px;
    li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
      cursor: pointer;

      a {
        color: white;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.apps {
  display: none;
  margin-top: 15px;

  @include mq($tablet-width, 'max-width') {
    display: block;
  }
  .apple {
    width: 48%;
    float: left;
    margin-right: 15px;
    img {
      width: 100%;
    }
  }
  .google {
    width: 40%;
    float: left;
    img {
      width: 100%;
    }
  }
}

.ball-link {
  width: 20px;
  height: 20px;
  background-color: $teal;
  border-radius: 50%;
  position: absolute;
  left: 49.3%;
  top: 400px;
  position: fixed;
  display: none;

  animation-duration: 1s !important;
  animation-iteration-count: infinite !important;

}

.frm_message {
  color: $teal;
}
